<%= form_with(model: category, class: "contents") do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.text_field :name, class: "field", placeholder: 'category name' %>
  </div>
  <div>

  <div class="cat-form-photo-div ">
  <p>Insert category icon</p>
  <%= form.file_field :image %>

  </div>

  

  <div class="inline">
    <%= form.submit class: "create-button" %>
  </div>
<% end %>
